<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <!-- HEADER -->
    <header>
      <div class="header-top">
        <img src="{{ '/assets/images/landing-banner.jpg' | relative_url }}" alt="Happy" class="header-photo">

        {% unless page.url == "/" %}
        <div class="breadcrumbs">
          {{ page.breadcrumbs }}
        </div>
        {% endunless %}
      </div>

      <nav class="main-nav">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/about' | relative_url }}">About</a>
        <a href="{{ '/blog' | relative_url }}">Blog</a>
      </nav>
    </header>

    <!-- MAIN CONTENT -->
    <main class="content">
      {{ content }}
    </main>

    <!-- FOOTER -->
    <footer>
      &copy; {{ site.author | date: "%Y" }} | {{ site.title }}. All rights reserved.
    </footer>

    <!-- Scripts -->
    <script src="{{ '/assets/js/custom.js' | relative_url }}"></script>
  </body>
</html>
